<!--suppress JSNonASCIINames, NonAsciiCharacters -->
<div id="zamkad-shipping-settings">
    <h3>[`Загрузка настроек`] <i class="icon16 loading"></i></h3>
</div>
<script>
  $(function () {
    window.$_syrnik_current_locale = '{$wa->locale()}';
      {literal}if (!$.wa.locale) $.wa.locale = {};{/literal}
      {strip}$.wa.locale = Object.assign($.wa.locale, {
        'Дополнительные выходные': '[`Дополнительные выходные`]',
        'Дополнительные рабочие дни': '[`Дополнительные рабочие дни`]',
        'Регион доставки': '[`Регион доставки`]',
        'Дата доставки': '[`Дата доставки`]',
        'Расстояние': '[`Расстояние`]',
        'Фикс. цена': '[`Фикс. цена`]',
        'Цена за 1 км.': '[`Цена за 1 км.`]',
        'Добавить тариф': '[`Добавить тариф`]',
        'Запрашивать желаемую дату доставки': '[`Запрашивать желаемую дату доставки`]',
        'Запрашивать желаемый интервал доставки': '[`Запрашивать желаемый интервал доставки`]',
        'Поля даты и интервала доставки': '[`Поля даты и интервала доставки`]',
        'Показывать ориентировочную дату доставки': '[`Показывать ориентировочную дату доставки`]',
        'Укажите количество дней на доставку. Число или диапазон через тире. Например «1» — один день, т.е. доставка на следующий день, «1-2» — один или два дня, т.е. завтра-послезавтра': '[`Укажите количество дней на доставку. Число или диапазон через тире. Например «1» — один день, т.е. доставка на следующий день, «1-2» — один или два дня, т.е. завтра-послезавтра`]',
        'Название поля с расстоянием': '[`Название поля с расстоянием`]',
        'Расстояние от города (км.)': '[`Расстояние от города (км.)`]',
        'Доставка будет ограничена только выбранной страной или регионом страны': '[`Доставка будет ограничена только выбранной страной или регионом страны`]',
        'Ограничения по географии': '[`Ограничения по географии`]',
        'Ограничение по стоимости заказа': '[`Ограничение по стоимости заказа`]',
        'Ограничение по весу': '[`Ограничение по весу`]',
        'от': '[`от`]',
        'до': '[`до`]',
        'Поле адреса «Улица, дом, квартира»': '[`Поле адреса «Улица, дом, квартира»`]',
        'не запрашивать': '[`не запрашивать`]',
        'запрашивать': '[`запрашивать`]',
        'требовать': '[`требовать`]',
        'км.': '[`км.`]',
        'кг.': '[`кг.`]',
        'с': '[`с`]',
        'Интервал доставки': '[`Интервал доставки`]',
        'Пн': '[`Пн`]',
        'Вт': '[`Вт`]',
        'Ср': '[`Ср`]',
        'Чт': '[`Чт`]',
        'Пт': '[`Пт`]',
        'Сб': '[`Сб`]',
        'Вс': '[`Вс`]',
        'Доп. выходной': '[`Доп. выходной`]',
        'Доп. рабочий день': '[`Доп. рабочий день`]',
        'Добавить интервал': '[`Добавить интервал`]',
        'Доставка за город': '[`Доставка за город`]',
        'Название варианта доставки': '[`Название варианта доставки`]',
        'Закрыть': '[`Закрыть`]',
        'Выбрать': '[`Выбрать`]'
      });
      {/strip}
    $.when($.Deferred(function (defer) {
      if (typeof ShippingZamkadPluginSettings != 'undefined') {
        defer.resolve();
        return;
      }
      $.getScript('{$wa_static_url}wa-plugins/shipping/zamkad/js/settings.js?v=' + '{$info.version}')
        .done(function () {
          defer.resolve();
        })
        .fail(function () {
          $('#pec-shipping-settings').append('<p class="red">[`Ошибка загрузки скрипта настроек.`]</p>');
          defer.reject();
        });
    })).done(function () {
      ShippingZamkadPluginSettings({
        el: '#zamkad-shipping-settings',
        info: {$info|json_encode},
        settings: {$settings|json_encode}
      });
    });
  });
</script>
<style>
    {include file="../css/settings.css" inline}
</style>
