<!--suppress JSNonASCIINames, NonAsciiCharacters -->
<div id="zamkad-shipping-settings">
    <h3>{$_zamkadPlugin->_w('Загрузка настроек')} <i class="icon16 loading"></i></h3>
</div>
<script>
  $(function () {
    window.$_syrnik_current_locale = '{$wa->locale()}';
      {literal}if (!$.wa.locale) $.wa.locale = {};{/literal}
      {$strings = ['Дополнительные выходные'=> $_zamkadPlugin->_w('Дополнительные выходные'),
      'Дополнительные рабочие дни'=> $_zamkadPlugin->_w('Дополнительные рабочие дни'),
      'Регион доставки'=> $_zamkadPlugin->_w('Регион доставки'),
      'Дата доставки'=> $_zamkadPlugin->_w('Дата доставки'),
      'Расстояние'=> $_zamkadPlugin->_w('Расстояние'),
      'Фикс. цена'=> $_zamkadPlugin->_w('Фикс. цена'),
      'Цена за 1 км.'=> $_zamkadPlugin->_w('Цена за 1 км.'),
      'Добавить тариф'=> $_zamkadPlugin->_w('Добавить тариф'),
      'Запрашивать желаемую дату доставки'=> $_zamkadPlugin->_w('Запрашивать желаемую дату доставки'),
      'Запрашивать желаемый интервал доставки'=> $_zamkadPlugin->_w('Запрашивать желаемый интервал доставки'),
      'Поля даты и интервала доставки'=> $_zamkadPlugin->_w('Поля даты и интервала доставки'),
      'Показывать ориентировочную дату доставки'=> $_zamkadPlugin->_w('Показывать ориентировочную дату доставки'),
      'Укажите количество дней на доставку. Число или диапазон через тире. Например «1» — один день, т.е. доставка на следующий день, «1-2» — один или два дня, т.е. завтра-послезавтра'=> $_zamkadPlugin->_w('Укажите количество дней на доставку. Число или диапазон через тире. Например «1» — один день, т.е. доставка на следующий день, «1-2» — один или два дня, т.е. завтра-послезавтра'),
      'Название поля с расстоянием'=> $_zamkadPlugin->_w('Название поля с расстоянием'),
      'Расстояние от города (км.)'=> $_zamkadPlugin->_w('Расстояние от города (км.)'),
      'Доставка будет ограничена только выбранной страной или регионом страны'=> $_zamkadPlugin->_w('Доставка будет ограничена только выбранной страной или регионом страны'),
      'Ограничения по географии'=> $_zamkadPlugin->_w('Ограничения по географии'),
      'Ограничение по стоимости заказа'=> $_zamkadPlugin->_w('Ограничение по стоимости заказа'),
      'Ограничение по весу'=> $_zamkadPlugin->_w('Ограничение по весу'),
      'от'=> $_zamkadPlugin->_w('от'),
      'до'=> $_zamkadPlugin->_w('до'),
      'Поле адреса «Улица, дом, квартира»'=> $_zamkadPlugin->_w('Поле адреса «Улица, дом, квартира»'),
      'не запрашивать'=> $_zamkadPlugin->_w('не запрашивать'),
      'запрашивать'=> $_zamkadPlugin->_w('запрашивать'),
      'требовать'=> $_zamkadPlugin->_w('требовать'),
      'км.'=> $_zamkadPlugin->_w('км.'),
      'кг.'=> $_zamkadPlugin->_w('кг.'),
      'с'=> $_zamkadPlugin->_w('с'),
      'Интервал доставки'=> $_zamkadPlugin->_w('Интервал доставки'),
      'Пн'=> $_zamkadPlugin->_w('Пн'),
      'Вт'=> $_zamkadPlugin->_w('Вт'),
      'Ср'=> $_zamkadPlugin->_w('Ср'),
      'Чт'=> $_zamkadPlugin->_w('Чт'),
      'Пт'=> $_zamkadPlugin->_w('Пт'),
      'Сб'=> $_zamkadPlugin->_w('Сб'),
      'Вс'=> $_zamkadPlugin->_w('Вс'),
      'Доп. выходной'=> $_zamkadPlugin->_w('Доп. выходной'),
      'Доп. рабочий день'=> $_zamkadPlugin->_w('Доп. рабочий день'),
      'Добавить интервал'=> $_zamkadPlugin->_w('Добавить интервал'),
      'Доставка за город'=> $_zamkadPlugin->_w('Доставка за город'),
      'Название варианта доставки'=> $_zamkadPlugin->_w('Название варианта доставки'),
      'Закрыть'=> $_zamkadPlugin->_w('Закрыть'),
      'Выбрать'=> $_zamkadPlugin->_w('Выбрать'),
      'Убедитесь, что выбранная валюта есть в настройках магазина! Рекомендуется указывать здесь основную валюту магазина.'=>$_zamkadPlugin->_w('Убедитесь, что выбранная валюта есть в настройках магазина! Рекомендуется указывать здесь основную валюту магазина.'),
      'Тарифы доставки'=>$_zamkadPlugin->_w('Тарифы доставки'),
      'Валюта расчёта'=>$_zamkadPlugin->_w('Валюта расчёта')
      ]}
    $.wa.locale = Object.assign($.wa.locale, {$strings|json_encode:256});

    $.when($.Deferred(function (defer) {
      if (typeof ShippingZamkadPluginSettings != 'undefined') {
        defer.resolve();
        return;
      }
      $.getScript('{$wa_static_url}wa-plugins/shipping/zamkad/js/settings-legacy.js?v=' + '{$info.version}')
        .done(function () {
          defer.resolve();
        })
        .fail(function () {
          $('#pec-shipping-settings').append('<p class="red">{$_zamkadPlugin->_w('Ошибка загрузки скрипта настроек.')}</p>');
          defer.reject();
        });
    })).done(function () {
      ShippingZamkadPluginSettingsLegacy({
        el: '#zamkad-shipping-settings',
        info: {$info|json_encode},
        settings: {$settings|json_encode}
      });
    });
  });
</script>
<style>
    {include file="../css/settings.css" inline}
</style>
